singularity.enabled = true
process.container = '/hpcnfs/data/SM/nfcore_singularity_image/rnaseq_latest.sif'
singularity.runOptions = ' --bind /hpcnfs/ '
process.executor = 'pbs'

env {
    PATH='$PATH:/hpcnfs/software/singularity/2.5.1/bin/:/hpcnfs/software/anaconda/anaconda3/bin/'
}

params {
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 25
  max_memory = 40.GB
  max_time = 99.h
}