= 2 
    memory = 1.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_TRANSCRIPT' { 
    cpus = 1 
    memory = 1.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_TX2GENE' { 
    cpus = 1 
    memory = 2.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_TXIMPORT' { 
    cpus = 1 
    memory = 2.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:RSEQC:RSEQC_BAMSTAT' { 
    cpus = 2 
    memory = 1.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:RSEQC:RSEQC_INFEREXPERIMENT' { 
    cpus = 2 
    memory = 1.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:RSEQC:RSEQC_INNERDISTANCE' { 
    cpus = 2 
    memory = 1.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:RSEQC:RSEQC_JUNCTIONANNOTATION' { 
    cpus = 2 
    memory = 1.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:RSEQC:RSEQC_JUNCTIONSATURATION' { 
    cpus = 2 
    memory = 1.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:RSEQC:RSEQC_READDISTRIBUTION' { 
    cpus = 2 
    memory = 1.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:RSEQC:RSEQC_READDUPLICATION' { 
    cpus = 2 
    memory = 17.GB 
  } 
  withName: 'NFCORE_RNASEQ:RNASEQ:STRINGTIE_STRINGTIE' { 
    cpus = 2 
    memory = 1.GB 
  } 
}
