singularity.enabled = true
process.container = '/hpcnfs/data/SM/singularity_nfcore_images/rnaseq_latest.sif'
singularity.runOptions = ' --bind /hpcnfs/ '
process.executor = 'pbs'

env {
    PATH='$PATH:/hpcnfs/software/singularity/2.5.1/bin/:/hpcnfs/software/anaconda/anaconda3/bin/'
    LD_PRELOAD=/hpcnfs/techunits/bioinformatics/software/petagene/petalink_1.3.15/bin/petalink.so

    PETASUITE_REFPATH=/hpcnfs/techunits/bioinformatics/software/petagene/petalink_1.3.15/species

}

params {
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 25
  max_memory = 40.GB
  max_time = 99.h
}
