singularity.enabled = true
process.container = '/hpcnfs/data/SM/singularity_nfcore_images/rnaseq_latest.sif'
singularity.runOptions = ' --bind /hpcnfs/ '
process.executor = 'pbspro'

env {
    PATH='$PATH:/hpcnfs/software/singularity/2.5.1/bin/:/hpcnfs/software/anaconda/anaconda3/bin/'
}

params {
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 10
  max_memory = 34.GB
  max_time = 500.h
}


process {
    withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:GTF_GENE_FILTER' {
        memory = 2.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:INPUT_CHECK:SAMPLESHEET_CHECK' {
        memory = 2.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:CAT_FASTQ' {
        memory = 2.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
        memory = 2.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:MULTIQC_TSV_FAIL_TRIMMED' {
        memory = 2.GB
        cpus = 2
    }
    
      withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN_IGENOMES' {
        memory = 32.GB
        cpus = 8
    }
    
      withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_QUANT' {
        memory = 6.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_STAR_SALMON' {
        memory = 6.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:MULTIQC_TSV_FAIL_MAPPED' {
        memory = 6.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:PRESEQ_LCEXTRAP' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:MARK_DUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:MARK_DUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:STRINGTIE_STRINGTIE' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:SUBREAD_FEATURECOUNTS' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:MULTIQC_CUSTOM_BIOTYPE' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:MULTIQC_CUSTOM_BIOTYPE' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:BEDTOOLS_GENOMECOV' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:QUALIMAP_RNASEQ' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:DUPRADAR' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:DUPRADAR' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:RSEQC:RSEQC_BAMSTAT' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:MULTIQC_TSV_STRAND_CHECK' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:CUSTOM_DUMPSOFTWAREVERSIONS' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_RNASEQ:RNASEQ:MULTIQC' {
        memory = 2.GB
        cpus = 2
    }
 }
































